h4{
    color: darkgray;
}

th {
    font-size: 16;
    font-weight: 400;
}
thead th {
    background-color: rgb(164, 164, 164);
    padding: 0px 5px;
}
tbody td {
    background-color: rgb(218, 207, 238);
    text-align: center;
    padding: 20px 5px;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 224, 224);
    padding: 0px 10px;
    height: 60px;
}

header h1,
header p {
    margin: 0;
    line-height: 60px;
}

.not_finished{
    background-color: rgb(205, 184, 224);
}

.finished_job{
    background-color: rgb(200, 255, 237);
}