{% extends "base.html" %}

{% block jobs_table %}
    <h2 style="text-align: center;">Works log</h2>
    {% for i in range(jobs_list | length) %}
        {% set item = jobs_list[i] %}
        <h3>Action {{item.id}}</h3>
        <table>
            <thead>
                <tr>
                    <th>Title of activity</th>
                    <th>Team Leader</th>
                    <th>Duration</th>
                    <th>List of collaborators</th>
                    <th>Is finished</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{item.job}}</th>
                    <th>{{leader_names[i]}}</th>
                    <th>{{item.work_size}} hours</th>
                    <th>{{item.collaborators}}</th>
                    <th>{% if item.is_finished %}
                            Is finished
                        {% else %}
                            Is not finished
                        {% endif %}
                    </th>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}